{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-arrow-functions",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 11", "not android 4.4.3"]
        }
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ]
}
